
*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #2c71b8;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/patt.png);
    z-index: -10;
}

.header {
    min-width: 1200px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    margin: 0 -15px;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

.col-9 {
    width: 75%;
}

[class*="col-"] {
    float: left;
    padding: 0 15px;
}

.row::after, .header-menu::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    padding-top: 7px;
}

.header-menu__item {
    float: left;
    width: 25%;
    height: 50px;
    text-align: center;
    border-left: 1px solid #2c71b8;
}

.header-menu__item:last-child {
    width: 25%;
    border-right: 1px solid #2c71b8;
}

.header-menu__link {
    display: block;
    font-size: 21px;
    font-weight: 300;
    line-height: 50px;
}

.header-menu__item:hover {
    background-color: #2c71b8;
}

.header-menu__item:hover .header-menu__link {
    color: white;
}

.header-menu__item:hover .header-submenu__list {
    display: block;
}

.header-menu__item:hover .header-menu__product-arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(225deg);
    top: 24px;
}

.header-menu-product {
    position: relative;
}

.header-menu__product-arrow {
    position: absolute;
    top: 21px;
    left: 122px;
    border: solid #2c71b8;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    z-index: 20;
}

.header-search {
    float: left;
    height: 40px;
    margin-top: 5px;
    margin-left: 15px;
    border: 1px solid #2c71b8;
}

.header-search-form {
    height: 100%;
    border: none;
    background-color: transparent;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
}

.header-search-form:focus {
    outline: none;
}

input.header-search-form::placeholder {
    color: #2c71b8;
    font-size: 21px;
}

.search-button {
    position: relative;
    top: -34px;
    left: 88%;
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    border: none;
}

.search-button--png {
    position: relative;
}

.cart {
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 5px;
    margin-right: -15px;
    background-color: #fff;
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cart-count {
    position: relative;
    top: -10px;
    left: -25px;
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}

.header-submenu__list {
    display: none;
    position: absolute;
    left: -1px;
    padding: 18px 0;
    width: calc(200% + 3px);
    background-color: #2c71b8;
    color: white;
    z-index: 10;
}

.header-submenu__item {
    padding: 0 27px;
    text-align: left;
    font-size: 21px;
    font-weight: 300;
    line-height: 40px;
}

.header-submenu__item:hover {
    background-color: white;
    color: #2c71b8;
}

.main {
    padding-bottom: 50px;
}

.slider {
    min-width: 1200px;
    position: relative;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    color: white;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    line-height: 400px;
}

.slick-arrow-prev {
    position: absolute;
    left: 40px;
    top: 50%;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 16px;
    transform: translateY(-50%) rotate(135deg);
    background-color: transparent;
}

.slick-arrow-next {
    position: absolute;
    right: 40px;
    top: 50%;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 16px;
    transform: translateY(-50%) rotate(-45deg);
    background-color: transparent;
}

.filter {
    height: 840px;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 1px solid white;
}

.breadcrumbs {
    color: white;
    opacity: 50%;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 100;
}

.breadcrumbs span {
    text-decoration: underline;
}

.product-header {
    font-size: 48px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 35px;
    color: white;
}

.product-card {
    width: 270px;
    height: 652px;
    float: left;
    margin: 15px 15px;
    border: 1px solid white;
}

.card-img {
    position: relative;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-top: 45px;
}

.square {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid #2c71b8;
    background-image: url("../img/square.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.like {
    position: absolute;
    top: 50px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid #2c71b8;
    background-image: url("../img/like.png");
    background-position: center;
    background-repeat: no-repeat;
}

.like-active {
    position: absolute;
    top: 50px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid #2c71b8;
    background-color: #2c71b8;;
    background-image: url("../img/like_white.png");
    background-position: center;
    background-repeat: no-repeat;
}

.card-description {
    height: 470px;
    background-color: rgba(43, 113, 183, 0.75);
    border-top: 1px solid white;
    color: white;
    padding: 15px;
}

.card-description-title {
    font-size: 30px;
    padding-bottom: 5px;
}

.card-description-about {
    font-size: 21px;
    font-weight: 200;
    line-height: 26px;
}

.card-description-info {
    font-size: 21px;
    line-height: 38px;
}

.card-description-info span {
    font-weight: 200;
}

.card-description-price {
    font-size: 48px;
    text-align: center;
    margin: 15px 0 20px;
}

.card-description-price sup {
    font-size: 28px;
}

.card-button-more {
    height: 50px;
    width: 210px;
    border: 1px solid white;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
}

.card-button-to-cart {
    height: 50px;
    width: 210px;
    border: 1px solid white;
    margin: 15px auto;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}

.card-button-to-cart__img {
    display: inline-block;
    height: 20px;
    width: 15px;
    margin-left: 10px;
    background-image: url("../img/cart_white.png");
    background-repeat: no-repeat;
    background-position: center;
}

.load-more {
    width: 100%;
    text-align: center;
    margin: 20px 0 35px;
}

.load-more a {
    color: white;
    font-size: 36px;
    font-weight: 300;
    padding: 20px;
}

.footer {
    min-width: 1200px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 40px 0;
    text-align: center;
    font-size: 21px;
    font-weight: 100;
}
